@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #51344D;
  color: #EADEDA;
}

header {
  font-weight: 600;
  background: #f2af29;
  color: black;
  padding: 1em;
}

h2 {
  font-family: 'Poppins';
  font-weight: inherit;
  font-size: 1.5em;
}

main {
  padding: 1em;
}

.breakdown {
  display: none; /* Hidden by default */
  padding: 1em;
  margin: 1em auto;
  background: #51344D;
  text-align: right;
  width: 90%;
  max-width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  text-align: left;
  padding: 1em;
}

.cat {
  font-weight: 300;
}

.dollar {
  text-align: right;
  font-weight: 500;
}

button {
  font-family: inherit;
  font-weight: inherit;
  background: #51344D;
  color: white;
  border: 0.1em solid #51344D;
  padding: 0.5em 1em;
  margin: 1em;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #f2af29;
  color: white;
}