@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #51344D;
    color: #EADEDA;
  }
  
  header {
    background: #f2af29;
    color: black;
    padding: 1em;
  }
  
  main {
    padding: 1em;
  }
  
  .breakdown {
    display: none; /* Hidden by default */
    padding: 1em;
    margin: 1em auto;
    background: #51344D;
    text-align: right;
    width: 90%;
    max-width: 300px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    text-align: left;
    padding: 1em;
  }

  .dollar {
    text-align: right;
    font-weight: 700;
  }
  
  button {
    background: #51344D;
    color: white;
    border: 0.1em solid #51344D;
    padding: 0.5em 1em;
    margin: 1em;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background: #f2af29;
    color: white;
  }